.sign-up-border {
  height: 90px;
  border-bottom: 1px solid #e6e6e6;
}

.sign-up-size {
  width: 167px;
  vertical-align: middle;
}

.header__sign-in-button {
  color: #333;
  font-weight: 600;
  font-size: 19px;
}

.sign-up__section {
  margin: 150px auto 100px;
  width: 340px;
  text-align: center;
}

.sign-up__section-wide {
  margin: 20px auto 100px;
  width: 400px;
}

.sign-up__devices-img {
  width: 260px;
  height: auto;
}

.sign-up__steps {
  font-size: 13px;
  font-weight: 200;
}

.sign-up__title {
  font-size: 23px;
  font-weight: 500;
}

.sign-up__description {
  font-size: 17px;
  font-weight: 300;
}

.sign-up__continue {
  margin-top: 10px;
  padding: 0.75rem 25.33333333px;
  min-width: 110px;
  width: 100%;
  min-height: 48px;
  font-weight: 400;
  font-size: 17px;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #fff;
  background: #e50914;
  cursor: pointer;
}

.sign-up__margin {
  margin-bottom: 12px;
}

.sign-up-section__footer {
  border-top: 1px solid #e5e5e5;
  background-color: #f3f3f3;
}

.sign-up-links-block {
  margin: 30px 20px 0px;
}

.sign-up__blue-title {
  margin: 20px 0;
  padding: 20px 0;
  background-color: #0071eb;
  color: #fff;
}

.sign-up__input {
  padding: 0 10px;
  margin: 10px 0;
  height: 60px;
  min-width: 94%;
  max-width: 100%;
  border: solid 1px #8c8c8c;
  outline: none;
}

.sign-up__checkbox-block {
  display: flex;
  align-items: center;
}

.sign-up__checkbox {
  width: 25px;
  height: 25px;
}

.sign-up__checkbox-description {
  font-weight: 300;
  margin-left: 10px;
}

.sign-up__checkmark-img {
  width: 50px;
  height: 50px;
  margin: 0 0 20px;
}

.sign-up__ul-block {
  margin: 24px 0;
  text-align: left;
}

.sign-up__li-block {
  display: flex;
  margin-bottom: 20px;
}

.sign-up__checkmark-group--icon {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #e50914;
  margin-left: -20px;
}

.sign-up__li-description {
  font-size: 17px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 2px;
}

.sign-up__price-wrapper {
  /* padding: 0 20%; */
  padding-top: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.sign-up__plan-step {
  font-size: 13px;
}

.sign-up__plan-title {
  margin: 10px 0;
  font-size: 23px;
  font-weight: 500;
}

.sign-up__plan-description {
  font-size: 16px;
}

.sign-up__price-block {
  min-width: 960px;
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}

.sign-up__plan-block {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  color: #fff;
  background: #e50914;
  opacity: 0.6;
  border-radius: 2px;
  cursor: pointer;
}

.sign-up__table-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sign-up__table-row-titles {
  width: 100%;
  min-width: 300px;
}

@media only screen and (max-width: 1300px) {
  .sign-up__price-wrapper {
    padding: 0 10%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .sign-up__price-wrapper {
    padding: 0;
    margin: 0 auto;
  }

  .sign-up__price-block {
    min-width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

.sign-up__table-td-item {
  width: 160px;
  /* background-color: lightcyan; */
  text-align: center;
  color: #a6a6a6;
}

.sign-up__table-row {
  height: 60px;
}

.sign-up__table-row--border {
  border-bottom: 1px solid #ccc;
}

.sign-up__thin-check {
  width: 18px;
  height: 18px;
  fill: #a6a6a6;
}

.sign-up__table-description {
  padding: 10px 16px 10px;
  color: #737373;
  font-size: 13px;
}

.sign-up__table-description--link {
  text-decoration: none;
  color: #0071eb;
}

.sign-up__bottom-button-wrapper {
  text-align: center;
  width: 100%;
}

.sign-up__reg-plan-page {
  min-width: 110px;
  max-width: 460px;
}

.sign-up__target-plan-true {
  opacity: 1;
}

.sign-up__target-item-true {
  color: #e50914;
}

.sign-up__target-item-true > svg {
  fill: #e50914;
}

.sign-up__pay-not-wrapper {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.sign-up__pay-not-img {
  margin: 30px 0 40px;
  width: 50px;
  height: 50px;
}

.sign-up__pay-not-title {
  font-size: 23px;
}

.sign-up__pay-not-text--bold {
  font-weight: 700;
}

.sign-up__pay-not-row {
  padding: 10px 150px;
}

.sign-up__pay-not-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 60px;
  min-height: 60px;
  width: 100%;
  cursor: pointer;
}

.sign-up__pay-not-secure {
  float: right;
  padding: 2px 0;
}

.sign-up__pay-not-text {
  font-size: 13px;
  height: 14px;
}

.secure-server-badge--icon {
  height: 16px;
  margin-left: 2px;
  width: 16px;
  vertical-align: middle;
}

.sign-up__pay-not-cards-group {
  display: flex;
  align-items: center;
}

.sign-up__pay-not-cards-desc {
  margin: 0 10px;
}

.sign-up__pay-not-cards {
  width: 40px;
  height: auto;
  margin: 0 5px;
}

.sign-up__pay-not-arrow {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
