* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* .app {
  background-color: #000;
} */

.body__background--black {
  background: #000;
}

.body__background--white {
  background: #fff;
}
